---
const { posts = [] } = Astro.props;
---
<section class="section">
    <h2>Blog</h2>
    <ul>
      {posts.map(post => (
        <li>
            <a class="highlight" href={post.url}>
            {post.frontmatter.title}
            </a>
        </li>
      ))}
    </ul>
  </section>