---
---
<section class="section">
    <h2>Contact</h2>
    <p>
      You can reach me on <a href="https://www.linkedin.com/in/john-trager/">linkedIn</a> or
      check out my work on <a href="https://github.com/john-trager" target="_blank">GitHub</a>.
    </p>
  </section>