---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
---

<footer class="animate">
  <Container>
    <div class="relative">
      <div class="absolute right-0 -top-20">
        <BackToTop />
      </div>
    </div>
    <!-- Footer Message -->
    <div class="flex items-center">
      <div class="flex-1 text-center">
        Made with <span class="emoji-full">❤️</span> in NYC — &copy; 2025 {SITE.NAME}
      </div>
    </div>
  </Container>
</footer>
