---
---
<section class="section">
    <h1>Hi, I'm <span class="highlight">John Trager</span> 👋</h1>
    <p>I am really awesome, and so is Ariel!</p>
</section>
<section class="section">
    <h2>About Me</h2>
    <p>
      I am a software engineer who mostly works on system level programming but also dabbles in basically everything...
    </p>
</section>
