---
import '../styles/global.css'
import Navigation from '../components/Navigation.astro';

const {frontmatter} = Astro.props;
---
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <title>JT - Blog</title>
    <meta name="description" content="JTs old blog from his college and early days." />
    <meta name="author" content="John Trager" />
    <!-- Open Graph / etc -->
    <meta property="og:title" content="JT - Blog" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://johntrager.net" />
    <link rel="canonical" href="https://johntrager.net" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- SEO END -->

    <link rel="icon" href="/favicon.ico" />

    <!-- Fonts and Styles -->
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <!-- Allow additional elements to be injected from pages -->
    <slot name="head" />
  </head>
  <main>
    <Navigation />
    <h1>{frontmatter.title}</h1>
    <h2>By {frontmatter.author}</h2>
    <p>{frontmatter.description}</p>
    <slot /> <!-- Markdown content is injected here -->
  </main>
  <footer>Made with ❤️ in NYC — © 2025 John Trager</footer>
</html>